# A data exploration checklist

- hide: true
- toc: true
- comments: true
- categories: [pandas]

A step-by-step recipe for getting to know a new dataset.

In [2]:
import pandas as pd

# Read and have a quick look

In [5]:
df = pd.read_csv('data/competitor_prices.csv')
df.head()

         Date  Product_id Competitor_id  Competitor_Price
0  25/11/2013         4.0             C             74.95
1  25/11/2013         4.0             D             74.95
2  25/11/2013         4.0             E             75.00
3  25/11/2013         4.0             F             99.95
4  26/11/2013         4.0             C             74.95

In [7]:
df.describe()

         Product_id  Competitor_Price
count  15132.000000      15132.000000
mean     248.535223         85.339813
std      115.916096         48.460998
min        4.000000          2.300000
25%      143.000000         49.950000
50%      251.000000         75.000000
75%      355.000000        108.000000
max      421.000000        500.000000

In [8]:
df.Competitor_id.describe()

count     15132
unique        7
top           D
freq       8092
Name: Competitor_id, dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15395 entries, 0 to 15394
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              15132 non-null  object
 1   Product_id        15132 non-null  float64
 2   Competitor_id     15132 non-null  object
 3   Competitor_Price  15132 non-null  float64
dtypes: float64(2), object(2)
memory usage: 481.2+ KB

# Missing values

https://github.com/ResidentMario/missingno

## Sources

- [Fluent Python](https://www.oreilly.com/library/view/fluent-python/9781491946237/)
- [Python Cookbook](https://www.oreilly.com/library/view/python-cookbook-3rd/9781449357337/)
- [Learning Python](https://www.oreilly.com/library/view/learning-python-5th/9781449355722/)
- [The Hitchhiker's Guide to Python](https://docs.python-guide.org/writing/structure/)
- [Effective Python](https://effectivepython.com)
- [Python for Data Analysis](https://www.oreilly.com/library/view/python-for-data/9781491957653/)
- [Python Data Science Handbook](https://www.oreilly.com/library/view/python-data-science/9781491912126/)
- [Pandas cookbook](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html)
- [Numpy docs](https://numpy.org/doc/stable/)