# Fast groupby operations

- hide: true
- category: [python, pandas]

In [1]:
from imports import *

%config InlineBackend.figure_format = 'retina'
%load_ext line_profiler
%load_ext autoreload
%autoreload 2

In [30]:
path = '/Users/fgu/tmp/mdb/data_777.parquet'
df = pd.read_parquet(path)
print(df.shape)
df.head()

(157287, 22)

,user_id,transaction_date,amount,transaction_description,merchant_name,tag,gender,up_tag,account_id,year_of_birth,merchant_business_line,salary_range,latest_balance,account_type,credit_debit,transaction_id,bank,postcode,ym,account_created,user_registration_date,account_last_refreshed
0,777,2012-01-03,3.03,aviva pa - d/d,aviva,life insurance,m,life insurance,262916,1969.0,aviva,20k to 30k,364.22,current,debit,688262,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
1,777,2012-01-03,6.68,"9572 31dec11 , tesco stores 3345 , warrington gb - pos",tesco,"food, groceries, household",m,"food, groceries, household",262916,1969.0,tesco supermarket,20k to 30k,364.22,current,debit,688263,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
2,777,2012-01-03,10.27,"9572 30dec11 , mcdonalds , restaurant , winwick road gb - pos",mcdonalds,dining and drinking,m,dining and drinking,262916,1969.0,mcdonalds,20k to 30k,364.22,current,debit,688264,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
3,777,2012-01-03,12.00,"9572 31dec11 , tesco stores 3345 , warrington gb - pos",tesco,"food, groceries, household",m,"food, groceries, household",262916,1969.0,tesco supermarket,20k to 30k,364.22,current,debit,688265,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
4,777,2012-01-03,400.00,<mdbremoved> - s/o,no merchant,other account,m,other account,262916,1969.0,non merchant mbl,20k to 30k,364.22,current,debit,688261,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00

## Basics

### Boolean comparisons

In [66]:
df = sns.load_dataset('iris')

In [67]:
%timeit df.sepal_width > 3

105 µs ± 2.61 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [68]:
%timeit df.sepal_width.values > 0

6.11 µs ± 181 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

Given the above, the below is rather surprising:

In [69]:
%timeit df[df.sepal_width > 3]

335 µs ± 23.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [72]:
%timeit df[df.sepal_width.values > 3]

148 µs ± 6.14 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

### Group means

From https://cmdlinetips.com/2019/05/how-to-implement-pandas-groupby-operation-with-numpy/

In [17]:
df = sns.load_dataset('iris')

In [18]:
%timeit df.groupby('species').sepal_length.mean()

481 µs ± 11.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [19]:
%%timeit

spec = df.species.values
sl = df.sepal_length.values
groups = df.species.unique()
[(group, np.mean(sl[spec == group])) for group in groups]

111 µs ± 7 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)